.partners-section{
    flex:5;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}
  
.partners-section-row{
    width:77.78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13vh;
}

@media (max-width: 576px) {
    .partners-section-row{
        width:80%;
        height: auto;
    }
}