.solution-section{
    flex:4;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
  }
  
  .solution-section-outerbox{
    width: 77.7vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .solution-section-highlight-box{
    width: 75vw;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .solution-section-highlight-description-box {
    width: 82%;
  }
  
  .solution-section-content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .solution-card{
    background-color: #181818;
    border-radius: 24px;
    color: #F1F1F1;
    box-sizing: border-box;
    width: 37vw;
    height: 57.5vh;
  }
  
  .card-img-top {
    object-fit: contain;
    z-index: -1;
    border-radius: 24px;
  }
  
  .card-body {
    padding: 3vh;
    display:flex;
    flex-direction: column;
  }
  
  .card-title {
    text-align: left;
    font-weight: 600;
    font-size: clamp(1.125rem, 1.75vw, 1.25rem);
    line-height: 120%;
    color: #F1F1F1;
  }
  
  .card-text {
    font-weight: 400;
    font-size: clamp(1rem, 1.125vw, 1rem);
    line-height: 140%;
    color: #B9B9B9;
    text-align: left;
  }
  
  /* Lower Boxes */
  .solution-card-lower-cards{
    background-color: #181818;
    border-radius: 24px;
    color: #F1F1F1;
    box-sizing: border-box;
    width: 37vw;
    height: 80vh;
  
    display:flex;
    flex-direction: column;
  }
  
  .solution-card-lower-cards-title-box{
    margin: 5%;
    width: 88.2%;
    height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .solution-card-lower-cards-title{
    font-weight: 500;
    font-size: clamp(1.75rem, 2.125vw, 2rem);
    line-height: 120%;
    color: #F1F1F1;
  }

  .solution-card-lower-cards-list{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    height: 90%;
  }
  
  .solution-card-lower-cards-list-item {
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .solution-card-lower-cards-list-title{
    font-weight: 500;
    font-size: clamp(1.125rem, 1.675vw, 1.5rem);
    line-height: 120%;
    color: #F1F1F1;
  }
  
  .solution-card-lower-cards-list-description{
    font-weight: 400;
    font-size: clamp(0.875rem, 1.125vw, 1rem);
    line-height: 140%;
    color: #B9B9B9;
  }

  @media (max-width: 768px) {
    .solution-section-outerbox {
      width: 100vw;
    }

    .solution-section-highlight-box {
      width: 100%;
    }

    .solution-card {
      width: 80%;
      height: 65vh;
    }
    
    .solution-card-img {
      box-sizing: border-box;
      width: 100%;
      height: auto;
    }

    .card-img-top {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .solution-card-lower-cards{
      width: 80%;
      height: auto;
    }
  }